*.class

*.csv

*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.synctex.gz
*.toc

# Maven
/target/

# Eclipse
.classpath
.project
.checkstyle
.settings

#dataSets
resources/dataSets/

#dumpfiles
dumpfiles/
/tools/summary.tsv
/tools/log
